<div *ngIf="dataObject && dataObject.formType === 'burn' && pdfView" id="burnLegend" class="legend">
    <span style="color:black;">Full Thickness</span><span
        style="display: inline-block; height: 12px; width: 12px; background: black; margin-left: 8px;"></span><br />
    <span style="color: #ff0033;">Partial Thickness</span><span
        style="display: inline-block; height: 12px; width: 12px; background: #ff0033; margin-left: 8px;"></span>
</div>
<div *ngIf="dataObject && dataObject.formType !== 'burn' && pdfView" id="skinLegend" class="legend">
    <span style="color: #0080FF;">Skin Disease</span><span
        style="display: inline-block; height: 12px; width: 12px; background: #0080FF; margin-left: 8px;"></span>
</div>

<div class="row" *ngIf="dataObject">
    <div id="canvasDiv">
        <canvas id="canvas" [ngClass]="returnCanvasClass()" #canvas></canvas>
    </div>
</div>

<div class="row center" style="margin-top: -3%;" *ngIf="!pdfView && dataObject" id="toolbar">
    <a id="resetCanvasButton" *ngIf="hasDrawnOnCanvas && !pdfView"
        style="cursor: pointer; margin-bottom: 12px; display: block" (click)="resetCanvas()">Reset
        Canvas</a>
    <a id="undoCanvasReset" *ngIf="prevURL" style="cursor: pointer; margin-bottom: 12px; display: block"  (click)="undoCanvasClear()">Undo Reset</a>
    <div *ngIf="dataObject && cx" style="margin-top: -3%;" class="col l6 m12 s12 center">
        <div class="row" id="selectFill">
            <h6>Select Fill</h6>
            <div *ngIf="dataObject.formType === 'burn'" id="burnAnnotations">
                <label class="td_wtt"><input [checked]="cx.strokeStyle === '#000306'" type="radio"
                        id="fill1" name="canvasFill" (click)="setCanvasFill('#000306');" />
                    <span style="color:black;">Full Thickness</span><span
                        style="display: inline-block; height: 12px; width: 12px; background: black; margin-left: 8px;"></span></label>
                <label class="td_wtt"><input [checked]="cx.strokeStyle === '#ff0033'" type="radio"
                        id="fill2" name="canvasFill" (click)="setCanvasFill('#ff0033');" />
                    <span style="color: #ff0033;">Partial Thickness</span><span
                        style="display: inline-block; height: 12px; width: 12px; background: #ff0033; margin-left: 8px;"></span></label>
            </div>
            <div *ngIf="dataObject.formType !== 'burn' " id="skinAnnotations">
                <label class="td_wtt"><input
                        [checked]="cx.strokeStyle === '#0080FF' || cx.strokeStyle === '#0080ff' "
                        type="radio" id="fill3" name="canvasFill" (click)="setCanvasFill('#0080ff');" />
                    <span style="color: #0080FF;">Skin Disease</span><span
                        style="display: inline-block; height: 12px; width: 12px; background: #0080FF; margin-left: 8px;"></span></label>
            </div>
        </div>
    </div>
    <div id='canvasTools' *ngIf="!pdfView" style="margin-top: -5%;" class="col l6 m12 s12">
        <div class="row">
            <h6>Select Tool</h6>
            <label class="td_wtt"><input [checked]="formTool === 'draw'" type="radio" id="tool1"
                    name="canvasTool" (click)="useTool('draw');" /><span>Draw</span></label>
            <label class="td_wtt"><input [checked]="formTool === 'erase'" type="radio" name="canvasTool"
                    (click)="useTool('erase');" /><span>Erase</span></label>
        </div>
        <div *ngIf="environment.isMobileApp" class="row center">
          <button (click)="dismissModal();">Done</button>
        </div>
    </div>
</div>