<ion-content>
    <div *ngIf="pdfView || loading" class="loader">
    </div>
    <ion-spinner *ngIf="pdfView || loading"></ion-spinner>
    <div id="mainForm" style="padding: 2%; overflow: auto;">
        <div class="row">

            <div class="col l6 m6 s12">
                <div id="formWrapper">
                    <!-- manual patient info input -->
                    <div *ngIf="manualMode && patientInfo" id="manualPatientData">
                        <ng-container *ngTemplateOutlet="manualPatientInfo"></ng-container>
                    </div>
                    <div class="row" *ngIf="!manualMode" id="presetPatientData">
                        <h5><span id="patientName">{{ patientInfo.patientName }}</span></h5>
                        <h6><span id="patientSex">{{ patientInfo.patientSex }}</span> <span
                                id="patientAge">{{ patientInfo.patientAge }}</span> <span
                                id="patientDOB">{{ patientInfo.birthDate }}</span>
                        </h6>
                        <h6>ADMIT DATE: <span id="dateOfAdmission">{{ patientInfo.admitDate }}</span> / <span
                                id="medNum">{{ patientInfo.medRecno }}</span> / <span
                                id="accNum">{{ patientInfo.acctNo }}</span></h6>
                    </div>
                </div>

                <!-- form type and burn/skin radios -->
                <ng-container *ngTemplateOutlet="formTypeAndRadios"></ng-container>

                <!-- estimation types -->
                <ng-container *ngTemplateOutlet="estimationTypeWrapper"></ng-container>


                <div class="row" style="margin-top: 3%;">
                    <div class="col l6 m6 s6" style="margin-left: 0; padding-left: 0;">
                        <h6>Date of Injury: 
                            <input *ngIf="!environment.useIonPickers" id="dateOfInjury" placeholder="MM/DD/YYYY" [(ngModel)]="dataObject.dateOfInjury"  style="cursor: pointer;" type="text" />
                            <ion-datetime *ngIf="environment.useIonPickers" placeholder="{{ currentDate }}"  class="fake-input" max="{{maxDate}}" displayFormat="MM/DD/YYYY" [(ngModel)]="dataObject.dateOfInjury"></ion-datetime>
                        </h6>
                    </div>
                    <div class="col l6 m6 s6" style="margin-left: 0; padding-left: 0;">
                        <h6>Time of Injury:
                             <input *ngIf="!environment.useIonPickers" placeholder="12:00 am" id="timeOfInjury" [(ngModel)]="dataObject.timeOfInjury" type="time" />
                             <ion-datetime *ngIf="environment.useIonPickers" placeholder="{{ currentTime }}" class="fake-input" [(ngModel)]="dataObject.timeOfInjury" displayFormat="hh:mm a"></ion-datetime>
                            </h6>
                    </div>
                </div>

                <!-- <div class="row center" *ngIf="!pdfView" id="toggleViewWrapper" style="margin-bottom: 0;">
                    <button class="btn" id="openWoundImages">Open Wound Images</button>
                </div> 

                 <div id="woundImages">
                    <div class='slideshow-container' id="carouselDiv"></div>
                    <div id="carouselDots" style="text-align:center"></div>
                </div> -->

            </div>

            <div class="col l6 m6 s12">
                <!-- canvas in here -->
                <ng-container *ngIf="!environment.isMobileApp">
                    <app-burn-canvas #burnCanvas></app-burn-canvas>
                </ng-container>
                <ng-container *ngIf="environment.isMobileApp">
                    <canvas id="displayCanvas" height="500" width="400" [ngClass]="returnCanvasClass()" #displayCanvas></canvas>
                    <button (click)="openBurnCanvasModal();">Click To Edit</button>
                </ng-container>
            </div>
        </div>
        <div *ngIf="!pdfView" class="sectionBreak"></div>
        <div class="row table" id="table" [ngClass]="{'pullUp': pdfView }">
            <div class="row center">
                <h6>Lund and Browder Chart - Burn Estimate - Age vs. Area</h6>
            </div>
            <table *ngIf="patientInfo && dataObject && dataObject.tableData && dataObject.tableData.length">
                <tr>
                    <th>Area</th>
                    <th *ngIf="patientInfo.patientAge < 1" class="infant">0-1 yr</th>
                    <th *ngIf="patientInfo.patientAge >= 1 && patientInfo.patientAge < 5" class="oneToFour">1-4 yr</th>
                    <th *ngIf="patientInfo.patientAge >= 5 && patientInfo.patientAge < 10" class="fiveToNine">5-9 yr
                    </th>
                    <th *ngIf="patientInfo.patientAge >= 10 && patientInfo.patientAge < 15" class="tenToFourteen">
                        10-14yr</th>
                    <th *ngIf="patientInfo.patientAge === 15" class="fifteen">15 yr</th>
                    <th *ngIf="patientInfo.patientAge >= 16" class="adult">Adult</th>
                    <th>2nd Degree</th>
                    <th>3rd Degree</th>
                    <th>4th Degree</th>
                    <th>TBSA %</th>
                </tr>
                <tr *ngFor="let row of tableRows; index as i">
                    <td *ngIf="displayRow(row, i)" class="center">{{ row.display }}</td>
                    <td *ngIf="displayRow(row, i)" class="center">{{ row[useThisRange()] }}</td>
                    <td *ngIf="displayRow(row, i)"><input [(ngModel)]="dataObject.tableData[i].secondDegree"
                            type="number" min="0" (input)="calculateTotals()" /></td>
                    <td *ngIf="displayRow(row, i)"><input [(ngModel)]="dataObject.tableData[i].thirdDegree"
                            type="number" min="0" (input)="calculateTotals()" /></td>
                    <td *ngIf="displayRow(row, i)"><input [(ngModel)]="dataObject.tableData[i].fourthDegree"
                            type="number" min="0" (input)="calculateTotals()" /></td>
                    <td *ngIf="displayRow(row, i)" class="totalRow"
                        [ngClass]="{'hasError': dataObject.tableData[i].hasError}"><input class="totalRow"
                            [ngClass]="{'hasError': dataObject.tableData[i].hasError}"
                            [(ngModel)]="dataObject.tableData[i].total" type="number" readonly /></td>
                </tr>
                <tr>
                    <td colspan="2" class="right-align">
                        <h5 style="margin-right:16px">Totals: </h5>
                    </td>
                    <td><input readonly [(ngModel)]="secondTotal" id="secondTotal" /></td>
                    <td><input readonly [(ngModel)]="thirdTotal" id="thirdTotal" /></td>
                    <td><input readonly [(ngModel)]="fourthTotal" id="fourthTotal" /></td>
                    <td><input readonly [(ngModel)]="grandTotal" id="grandTotal" /></td>
                </tr>
            </table>
        </div>

        <div class="row" [ngStyle]="{'height': pdfView ? '220px' : 'auto'}">
            <div class="col l6 m6 s12">
                <h6>Completed by: <input [(ngModel)]="userInfo.userName" readonly id="completedBy" type="text" /></h6>
            </div>
            <div class="col l3 m3 s6">
                <h6>Date: <input readonly [(ngModel)]="currentDate" id="todayDate" /></h6>
            </div>
            <div class="col l3 m3 s6">
                <h6>Time: <input readonly id="currentTime" [(ngModel)]="currentTime" /> </h6>
            </div>
        </div>

        <div class="row" *ngIf="!pdfView && dataObject && dataObject.amendmentHistory.length" id="amendment_history">
            <div *ngFor="let a of dataObject.amendmentHistory; index as i">
                {{ i === 0 ? 'Created By:' : 'Amended By:'}} {{ a.name }} | {{ getAmendedDate(a.date) }}
            </div>
        </div>

        <div class="row center" id="formActions">
            <div *ngIf="!pdfView && environment.supportsPdfDownload" class='col m4 center'><button (click)="generatePDF();" class='bottom-button btn'
                    id='print-pdf'>Download PDF</button></div>
            <div *ngIf="!pdfView" class='col m4 center'><button (click)="submitData();" class='bottom-button btn'
                    id='submitData'>Save</button></div>
            <div *ngIf="!pdfView" class='col m4 center'><button (click)="cancel();" class='bottom-button btn'
                    id='cancelSession'>Cancel</button></div>
        </div>

    </div>
</ion-content>

<ng-template #manualPatientInfo>
    <div class="row">
        <div class="col l5 m6 s12" style="padding:0">
            <span>
                <h6>Name: </h6>
            </span>
            <input type="text" [(ngModel)]="patientInfo.patientName" (change)="updatePatientInfo()" id="name" />
        </div>
        <div class="col l3 m2 s6">
            <span>
                <h6>Age: </h6>
            </span><input min="0" value="0" [(ngModel)]="patientInfo.patientAge" (input)="updatePatientInfo();"
                id="patientAge" type="number" />
        </div>
        <div class="col l3 m4 s6 center" style="padding:0">
            <span>
                <h6>Sex: </h6>
            </span>
            <label style="margin: 2%"><input id="maleBox" type="checkbox" (click)="setSex('m')" /><span>M</span></label>
            <label style="margin: 2%"><input id="femaleBox" type="checkbox"
                    (click)="setSex('f')" /><span>F</span></label>
        </div>
    </div>
</ng-template>

<ng-template #formTypeAndRadios>
    <div class="row center" style="margin-top: 0">
        <div id='formTypeWrapper' *ngIf="!pdfView">
            <h6>Form Type</h6>
            <div class="row">
                <label class="td_wtt"><input [checked]="dataObject.formType === 'burn'" type="radio" id="burnRadio"
                        name="formType" (click)="setFormType('burn');" /><span>Burn</span></label>
                <label class="td_wtt"><input type="radio" id="skinRadio" name="formType"
                        (click)="setFormType('skinDisease');" [checked]="dataObject.formType !== 'burn'" /><span>Skin
                        Disease</span></label>
            </div>
            <hr />
        </div>
        <div *ngIf="dataObject.formType === 'burn'" id="burnTypes">
            <h6>Type of Burn Injury</h6>
            <label *ngFor="let r of environment.burnRadios" class="td_wtt burnRadio"><input
                    [checked]="dataObject.burnType === r.arg" (click)="setBurnType(r.arg)" id="{{r.arg}}_radio"
                    type="radio" name="{{r.name}}" />
                <span>{{ r.display }} </span></label>

        </div>
        <div *ngIf="dataObject.formType !== 'burn'" id="skinTypes">
            <h6>Type of Skin Disease</h6>
            <label *ngFor="let r of environment.skinRadios" class="td_wtt burnRadio"><input
                    [checked]="dataObject.skinType === r.arg" (click)="setSkinType(r.arg)" id="{{r.arg}}_radio"
                    type="radio" name="{{r.name}}" />
                <span>{{ r.display }} </span></label>
        </div>
        <hr />

    </div>
</ng-template>

<ng-template #estimationTypeWrapper>
    <div *ngIf="dataObject.formType === 'burn'" id="lowerBurn" class="center">
        <div classs="row center">
            <label class="td_wtt" [ngClass]="{'disabledRadio': dataObject.createdBy}"><input type="radio" [checked]="estimationType === 'initial' " [disabled]="dataObject.createdBy"
                    (click)="setEstimationType('initial')" id="initialEstimate" name="belowBurn" />
                <span>Initial Burn Estimation Chart</span></label><br>
            <label [ngClass]="{'disabledRadio': manualMode || !dataObject.createdBy}" class="td_wtt"><input type="radio" [checked]="estimationType === 'amended' " [disabled]="manualMode || !dataObject.createdBy"
                    (click)="setEstimationType('amended')" id="amendedEstimate" name="belowBurn" />
                <span>Amended Burn Estimation Chart</span></label><br>
            <label class="td_wtt"><input type="radio" [checked]="estimationType === 'discharge' "
                     (click)="setEstimationType('discharge')" id="dischargeEstimate"
                    name="belowBurn" />
                <span>Discharge Burn Estimation Chart</span></label>
        </div>
    </div>
</ng-template>